* {
    padding:0;
    margin:0px 50px;
    vertical-align:baseline;
    list-style:none;
    border:0
}


.navbar{
    background-color: white;
    max-height: 80px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar a{
    margin-left:40px ;
    justify-content: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    color: black;
    text-decoration: none;
    
}

.navbar h1{
    margin-right: 20px;
    font-size: 60px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to right, #56070c,#170000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pre-banner{
    background-color: #56070c;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    height: 50px;
    margin: 10px 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    width: auto;
    height: 600px;
    background-image: url(/images/background-home.jpg);
    border-radius: 20px;
    
}

.titulo2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.parágrafo{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
